.required-label::after {
  content: " *"; /* Adds a space and an asterisk after the label text */
  color: #ff0000; /* Styles the asterisk red */

}
/* Disables the arrow for increase/decrease for number inputs
/* 1. For Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2. For Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.nohover.focus {
    box-shadow: none !important;
}
.nohover:hover:not(.active) {
    background-color: rgb(from var(--success) r g b / 0.1);
    color: var(--success) !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-top: auto;
}