.required-label::after {
  content: " *"; /* Adds a space and an asterisk after the label text */
  color: #ff0000; /* Styles the asterisk red */
  /* You can add more styles here, like font-size or position */
}
/* Disables the arrow for increase/decrease for number inputs
/* 1. For Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2. For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}